*{
    margin:0;
    padding:0;
    list-style:none;
}
#wrap{
    width:1080px;
    height: 1920px;
    background: url(../img/bg.png);
    background-size:100% 100%;
    margin:0 auto;
    position: relative;
}
#wrap #header{
    width:50%;
    height:200px;
    line-height: 200px;
    position: absolute;
    top:0;
    left:50%;
    margin-left:-10%;
}
#wrap #header span{
    margin-left:20px;
    color:#fff;
    font-size:16px;
}
#wrap #header b{
    color:lightcoral;
    font-size:20px;
}
#wrap #top{
    width:90%;
    margin-left:5%;
}
#wrap #top #mess{
    float: right;
    position: absolute;
    top:10%;
    right:0;
}
#wrap #one{
    width:150px;
    height: 150px;
    position: absolute;
    top:10%;
    left:25%;
}
#wrap #one img{
    width:100%;
    border-radius: 50%;
}
#wrap #two{
    width:130px;
    height: 130px;
    position: absolute;
    top:18%;
    left:10%;
}
#wrap #two img{
    width:100%;
    border-radius: 50%;
}
#wrap #three{
    width:150px;
    height: 150px;
    position: absolute;
    top:25%;
    left:20%;
}
#wrap #three img{
    width:100%;
    border-radius: 50%;
}

.text{
    position: absolute;
    width:590px;
    top:250px;
    right:50px;
    color:#fff;
}
.text h3, .text p{
    text-align:right;
}
.text h3{
    font-size:50px;
}
.text p{
    font-size:30px;
    margin-bottom:30px;
}
.text div{
    text-indent:2rem;
    line-height:30px;
}
#wrap #main{
    width:100%;
    height:100%;
    position: absolute;
    top:30%;
    left:0;
}
#wrap #main #pic1{
    width:100%;
    height:325px;
    background: url(../img/2.png) no-repeat;
    margin-top:5%;
}
#wrap #main #pic1 p{
    width:230px;
    height: 230px;
    position: absolute;
    top:5.5%;
    left:65%;
}
#wrap #main #pic1 img{
    width:100%;
    border-radius: 50%;
}
#wrap #main #pic1 h5{
    width:100%;
    height:20px;
    font-size: 20px;
    color:#fff;
    position: absolute;
    top:9%;
    left:35%;
}
#wrap #main #pic1 .list1{
        width:265px;
        height: 50px;
        border-radius: 25px;
        background:rgba(0,0,0,0.5);
        color:#fff;
        text-align: center;
        line-height: 50px; 
        position: absolute;
        top:12%;
        left:25%;
}
#wrap #main #pic1 .list1 span{
    color:#DEEAFA;
    width:40%;
    font-weight: bold;
    padding:0 10px;
}
#wrap #main #pic2{
    width:100%;
    height: 325px;
    background: url(../img/3.png) no-repeat;
    margin-top:5%;
}
#wrap #main #pic2 p{
    width:230px;
    height: 230px;
    position: absolute;
    top:25%;
    left:5%;
}
#wrap #main #pic2 img{
    width:100%;
    border-radius: 50%;
}
#wrap #main #pic2 h5{
    width:100%;
    height:20px;
    font-size: 20px;
    color:#fff;
    position: absolute;
    top:29%;
    left:48%;
}
#wrap #main #pic2 #list{
    width:30%;
    height: 30px;
    display: flex;
    margin-top:15%;
    position: absolute;
    top:24.5%;
    left:36%;
    text-align: center;
}
#wrap #main #pic2 #list li{
    width:50%;
    height: 30px;
    color:#fff;
}
#wrap #main #pic3{
    width:100%;
    height: 325px;
    background: url(../img/2.png) no-repeat;
    margin-top:5%;
}
#wrap #main #pic3 p{
    width:230px;
    height: 230px;
    position: absolute;
    top:45%;
    left:65%;
}
#wrap #main #pic3 img{
    width:100%;
    border-radius: 50%;
}
#wrap #main #pic3 h5{
    width:100%;
    height:20px;
    font-size: 20px;
    color:#fff;
    position: absolute;
    top:49%;
    left:35%;
}
#wrap #main #pic3 .list2{
    width:265px;
    height: 50px;
    border-radius: 25px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    line-height: 50px; 
    position: absolute;
    top:52%;
    left:25%;
}
#wrap #main #pic3 .list2 span{
color:#DEEAFA;
width:40%;
font-weight: bold;
padding:0 10px;
}